.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

# System Files
.DS_Store
Thumbs.db

# Node
/node/
node_tmp/
node_modules/
npm-debug.log.*

# Mac OSX
.DS_Store

